<div class="dds-breakdown">
  <div class="dds-line"><strong>{{ 'Distance'|t }}:</strong> {{ distance_text }}</div>
  <div class="dds-line"><strong>{{ 'Best rate'|t }}:</strong> {{ best_carrier }} – {{ best_service }}: {{ best_amount }} {{ currency }}</div>
</div>
